@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Poppins:wght@300;400;700&display=swap");

:root {
  --blue: #49bfff;
  --white: #fff;
  --gray: rgb(51, 51, 51);
  --fontSize: 16px;
  --transition: 0.3s ease;
  --violet: rgb(107, 78, 113);
  --black: #000;
  --lightGray: #b3b3b3;
  --cream: #f5dddd;
}
/************************
basci style
**************************/
body {
  font-family: "Popins", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
}
.bg-light {
  background-color: rgba(234, 207, 210, 0.8) !important;
}
.underline {
  background: var(--violet);
  height: 8px;
  margin: 20px auto;
  width: 30%;
}
/************************
navbar
**************************/
.navbar-brand {
  font-size: 2rem;
  font-weight: 400;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 2px;
  font-style: italic;
  color: var(--violet) !important;
}

.navbar-brand span {
  font-weight: 700;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  background: var(--violet);
  color: var(--cream);
}

.nav-item {
  text-transform: uppercase;
}
/************************
header
**************************/
.headerHome {
  background-image: linear-gradient(
      rgba(107, 78, 113, 0.8),
      rgba(255, 255, 255, 0.9)
    ),
    url(img/header-background.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.headerHome h1 {
  font-size: 4rem;
}

.headerHome h1 span {
  font-style: italic;
  color: var(--white);
}
.headerHome p {
  font-size: 1.3rem;
}
/************************
services
**************************/
.services img {
  padding: 25px;
}

.services img:hover {
  transform: rotate(20deg);
  transition: 0.6s ease;
}

/************************
skills
**************************/
.skills {
  background-image: linear-gradient(
      to left,
      rgba(107, 78, 113, 0.95),
      rgba(51, 51, 51, 0.99)
    ),
    url(img/bg.png);
  background-position: center;
  background-size: cover;
  height: 60vh;
}

.skills h2 {
  font-size: 3rem;
}
.skills h2 span {
  color: var(--cream);
  font-style: italic;
  text-shadow: 0 0 5px var(--black);
}

.skills ul li {
  line-height: 2;
  font-size: 20px;
}

.skills .fas.fa-laptop-code {
  font-size: 10rem;
  text-shadow: 0 0 25px var(--black);
}
/************************
footer
**************************/
.footer {
  background: var(--cream);
}

footer .underline {
  width: 3%;
}

footer a {
  color: var(--violet);
  font-size: 2rem;
  margin: 10px;
}

footer a:hover {
  color: var(--gray);
  transition-duration: 0.7s ease;
}

footer i:hover {
  animation: footer 0.7s ease;
}

@keyframes footer {
  100% {
    transform: rotate(360deg);
  }
}
/************************
technologies
**************************/

.technologies .card {
  border: 1px solid var(--violet);
  box-shadow: 0 0 25px var(--lightGray);
  margin: 10px;
}

.technologies .card .holder {
  overflow: hidden;
}

.technologies .card img {
  transition: transform 2s ease;
}
.technologies .card img:hover {
  transform: scale(1.3);
}

.technologies .card-text {
  padding: 0 30px 40px 30px;
}

/************************
jumbotron
**************************/

.jumbotron {
  background-image: linear-gradient(
      rgba(107, 78, 113, 0.8),
      rgba(255, 255, 255, 0.99)
    ),
    url(img/novisad.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
/************************
contact
**************************/

.contact i {
  font-size: 3rem;
  padding-bottom: 30px;
  color: var(--violet);
}

/************************
responsive
**************************/

@media (max-width: 768px) {
  .headerHome h1 {
    font-size: 2rem;
    text-align: center;
  }
  .headerHome p {
    font-size: 1rem;
    text-align: center;
  }

  .skills {
    height: 80vh;
  }
  .jumbotron {
    height: 70vh;
  }
  .contact .col-md-4 {
    width: 100%;
    margin-bottom: 10px;
  }
  footer .underline {
    width: 10%;
  }
}
